@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/lato/Lato-Hairline.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato/Lato-Light.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "mupat";
  src: url("../fonts/mupat/mupat.eot");
  src: url("../fonts/mupat/mupat.eot?#iefix") format("embedded-opentype"), url("../fonts/mupat/mupat.ttf") format("truetype"), url("../fonts/mupat/mupat.svg#mupat") format("svg"), url("../fonts/mupat/mupat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 37, ../sass/_font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mupat";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

/* line 52, ../sass/_font.scss */
.icon-github:before {
  content: "\e000";
}

/* line 56, ../sass/_font.scss */
.icon-xing:before {
  content: "\e001";
}

/* line 60, ../sass/_font.scss */
.icon-arrow-down:before {
  content: "\e002";
}

/* line 64, ../sass/_font.scss */
.icon-home:before {
  content: "\e003";
}

/* line 68, ../sass/_font.scss */
.icon-user:before {
  content: "\e004";
}

/* line 72, ../sass/_font.scss */
.icon-portfolio:before {
  content: "\e005";
}

/* line 76, ../sass/_font.scss */
.icon-close:before {
  content: "\e00e";
}

/* line 80, ../sass/_font.scss */
.icon-open:before {
  content: "\e00f";
}

/* line 8, ../sass/_base.scss */
html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  vertical-align: baseline;
  height: 100%;
}

/* line 18, ../sass/_base.scss */
body {
  background-color: #61cc61;
  font-weight: 300;
  color: #222222;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 13px;
    line-height: 21px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 17px;
    line-height: 27px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 21px;
    line-height: 34px;
  }
}
@media (min-width: 1921px) {
  /* line 18, ../sass/_base.scss */
  body {
    font-size: 23px;
    line-height: 37px;
  }
}

/* line 28, ../sass/_base.scss */
h1 {
  font-weight: 100;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 27px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 28, ../sass/_base.scss */
  h1 {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 33, ../sass/_base.scss */
h2 {
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 16px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 33, ../sass/_base.scss */
  h2 {
    font-size: 29px;
    line-height: 1em;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 13px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 15px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 17px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 38, ../sass/_base.scss */
  p {
    font-size: 23px;
    line-height: 1em;
  }
}

/* line 42, ../sass/_base.scss */
a {
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #222222;
}
/* line 47, ../sass/_base.scss */
a:hover {
  color: #fdf7f8;
}

/* line 50, ../sass/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 55, ../sass/_base.scss */
li {
  list-style: none;
}

/* line 3, ../sass/_layout.scss */
.align-center {
  text-align: center;
}

/* line 7, ../sass/_layout.scss */
.quote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 100;
  padding: 3rem 1rem;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 27px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 7, ../sass/_layout.scss */
  .quote {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 15, ../sass/_layout.scss */
.quote-highlight {
  display: block;
  width: 100%;
  background-color: #2f3300;
  color: #fdf7f8;
}

/* line 22, ../sass/_layout.scss */
.quote-fixed {
  position: fixed;
  bottom: 3rem;
}

/* line 27, ../sass/_layout.scss */
.avatar {
  width: 20rem;
  height: 20rem;
}

/* line 32, ../sass/_layout.scss */
.avatar-highlight {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 36, ../sass/_layout.scss */
.btn {
  background: #fdf7f8;
  padding: 1rem 0.5rem;
  width: 25%;
  display: block;
  margin: 5rem auto;
  min-width: 25rem;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 16px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 36, ../sass/_layout.scss */
  .btn {
    font-size: 29px;
    line-height: 1em;
  }
}

/* line 46, ../sass/_layout.scss */
.btn-highlight {
  color: #fdf7f8;
  background-color: #ff981a;
  font-weight: 100;
}
/* line 49, ../sass/_layout.scss */
.btn-highlight:hover {
  background-color: #2f3300;
}

/* line 53, ../sass/_layout.scss */
.btn-highlight-invert {
  background-color: #2f3300;
}
/* line 55, ../sass/_layout.scss */
.btn-highlight-invert:hover {
  background-color: #ff981a;
}

/* line 58, ../sass/_layout.scss */
.btn-down {
  position: relative;
}
/* line 61, ../sass/_layout.scss */
.btn-down:before {
  position: absolute;
  left: calc(50% - 30px);
  color: #2f3300;
  font-size: 60px;
  opacity: 0;
  bottom: -4rem;
  z-index: -1;
  -webkit-transition-property: opacity, color;
  -moz-transition-property: opacity, color;
  -o-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 72, ../sass/_layout.scss */
.btn-down:hover:before {
  opacity: 1;
  color: #ff981a;
}

/* line 78, ../sass/_layout.scss */
.page {
  width: 100%;
  height: 100%;
}

/* line 83, ../sass/_layout.scss */
.page-highlight {
  background-color: #2f3300;
}

/* line 87, ../sass/_layout.scss */
.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* line 93, ../sass/_layout.scss */
.nav-button {
  cursor: pointer;
  position: absolute;
  font-size: 5rem;
  bottom: -5rem;
  background-color: #fdf7f8;
  z-index: 15;
  width: 10rem;
  height: 10rem;
  left: calc(50% - 5rem);
  border-radius: 50%;
}
/* line 105, ../sass/_layout.scss */
.nav-button:before {
  position: absolute;
  top: 1rem;
  left: 3.5rem;
  font-size: 3rem;
}

/* line 113, ../sass/_layout.scss */
.nav-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 126, ../sass/_layout.scss */
.nav-input {
  display: none;
}
/* line 129, ../sass/_layout.scss */
.nav-input:checked + .nav-button:before {
  content: '\e00e';
}
/* line 130, ../sass/_layout.scss */
.nav-input:checked ~ .nav-wrapper {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  bottom: -0.5rem;
}
/* line 134, ../sass/_layout.scss */
.nav-input:checked ~ .nav-overlay {
  opacity: 1;
  visibility: visible;
}

/* line 141, ../sass/_layout.scss */
.nav-wrapper {
  position: absolute;
  height: 16rem;
  width: 100%;
  z-index: 10;
  bottom: -7.25rem;
  border-radius: 50%;
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition-property: scale, bottom;
  -moz-transition-property: scale, bottom;
  -o-transition-property: scale, bottom;
  transition-property: scale, bottom;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 153, ../sass/_layout.scss */
.nav-wrapper li {
  position: absolute;
  width: 30rem;
  height: 30rem;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: calc(50% - 30rem);
  bottom: 0;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
/* line 163, ../sass/_layout.scss */
.nav-wrapper li:first-child {
  -webkit-transform: rotate(-5deg) skew(50deg);
  -moz-transform: rotate(-5deg) skew(50deg);
  -ms-transform: rotate(-5deg) skew(50deg);
  -o-transform: rotate(-5deg) skew(50deg);
  transform: rotate(-5deg) skew(50deg);
}
/* line 167, ../sass/_layout.scss */
.nav-wrapper li:nth-child(2) {
  -webkit-transform: rotate(33deg) skew(50deg);
  -moz-transform: rotate(33deg) skew(50deg);
  -ms-transform: rotate(33deg) skew(50deg);
  -o-transform: rotate(33deg) skew(50deg);
  transform: rotate(33deg) skew(50deg);
}
/* line 171, ../sass/_layout.scss */
.nav-wrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -o-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg);
}
/* line 175, ../sass/_layout.scss */
.nav-wrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -o-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}
/* line 179, ../sass/_layout.scss */
.nav-wrapper li:nth-child(5) {
  -webkit-transform: rotate(145deg) skew(50deg);
  -moz-transform: rotate(145deg) skew(50deg);
  -ms-transform: rotate(145deg) skew(50deg);
  -o-transform: rotate(145deg) skew(50deg);
  transform: rotate(145deg) skew(50deg);
}
/* line 183, ../sass/_layout.scss */
.nav-wrapper li:nth-child(even) a {
  background-color: #ff981a;
}
/* line 187, ../sass/_layout.scss */
.nav-wrapper li a {
  background-color: #ff8d00;
  font-size: 3rem;
  height: 30rem;
  width: 30rem;
  position: absolute;
  bottom: -16rem;
  right: -15rem;
  border-radius: 50%;
  text-decoration: none;
  color: #fdf7f8;
  padding-top: 1.8rem;
  text-align: center;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -o-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  -webkit-transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  -o-transition: opacity 0.3s, color 0.3s, background-color 0.3s;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s;
}
/* line 189, ../sass/_layout.scss */
.nav-wrapper li a:hover {
  background-color: #2f3300;
}

/* line 12, ../sass/overview.scss */
.page-overview {
  margin-top: 5%;
  margin-bottom: 10rem;
  position: relative;
}
/* line 17, ../sass/overview.scss */
.page-overview h1 {
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  color: #fdf7f8;
  min-width: 25rem;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 35px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 39px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 48px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 17, ../sass/overview.scss */
  .page-overview h1 {
    font-size: 53px;
    line-height: 1em;
  }
}
/* line 28, ../sass/overview.scss */
.page-overview h1:before {
  content: '';
  border-bottom: 3rem solid rgba(0, 0, 0, 0.25);
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
  position: absolute;
  top: -3rem;
  margin: 0 auto;
  left: calc(50% - 3rem);
  z-index: -1;
}
/* line 41, ../sass/overview.scss */
.page-overview > div {
  position: absolute;
  bottom: 13rem;
  width: 100%;
}
