@charset "UTF-8";

@import "variables";
@import "mixin";
@import "font";
@import "compass/css3";
@import "justifygrid";

html {
  // -webkit-font-smoothing: antialiased;
  font: {
    family: $font-family;
    size: 62.5%; // normalize 1rem to 10px
  }
  vertical-align: baseline;
  height: 100%;
}

body {
  background-color: $color-base;
  font-weight: $font-weight-thin;
  color: $color-text-dark;
  margin: 0;
  padding: 0;
  height: 100%;
  @include font-media($font-factor-text, true);
}

h1 {
  @include font-media($font-factor-text-headline);
  font-weight: $font-weight-thin;
}

h2 {
  @include font-media($font-factor-text-headline-sub);
  font-weight: $font-weight-thin;
}

p {
  @include font-media($font-factor-text, true);
}

a {
  @include transition-property(color, background-color); 
  @include transition-duration(0.5s);
  text-decoration: none;
  color: $color-highlight-light;
  &:hover { color: $color-text-light; }
}

ul {
  margin: 0;
  padding: 0;
}

li { 
  list-style: none;
}

footer {
  background-color: #000000;
  color: $color-text-light;
  text-align: center;
  padding: 2rem;
  margin-top: -0.1rem;
  position: relative;

  .footer-img {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: -12.5rem;
    left: 0;
  }
}
