@charset "UTF-8";

@import "variables";
@import "mixin";
@import "font";
@import "compass/css3";
@import "justifygrid";

html {
  // -webkit-font-smoothing: antialiased;
  font: {
    family: $font-family;
    size: 62.5%; // normalize 1rem to 10px
  }
  vertical-align: baseline;
  height: 100%;
}

body {
  background-color: $color-base;
  font-weight: $font-weight-normal;
  color: $color-text-dark;
  margin: 0;
  padding: 0;
  height: 100%;
  @include font-media($font-factor-text, true);
}

h1 {
  @include font-media($font-factor-text-headline);
  font-weight: $font-weight-thin;
}

h2 {
  @include font-media($font-factor-text-headline-sub);
  font-weight: $font-weight-thin;
}

p {
  @include font-media($font-factor-text);
}

a {
  @include transition-property(color, background-color); 
  @include transition-duration(0.5s);
  text-decoration: none;
  color: $color-text-dark;
  &:hover { color: $color-text-light; }
}

ul {
  margin: 0;
  padding: 0;
}

li { 
  list-style: none;
}

footer {
  background-color: $color-text-dark;
  color: $color-text-light;
  text-align: center;
  margin-top: -3rem;
  padding: 2rem;

  a { color: $color-highlight-light; }
}
