@import "compass/css3";

.align-center { 
  text-align: center; 
}

.quote {
  @include font-media($font-factor-text-headline);
  @include box-sizing(border-box);
  font-weight: $font-weight-thin;
  padding: 3rem 1rem;
  margin: 0;
}

.quote-highlight {
  display: block;
  width: 100%;
  background-color: $color-highlight-dark;
  color: $color-text-light;
}

.quote-fixed {
  position: fixed;
  bottom: 3rem;
}

.avatar {
  width: 20rem;
  height: 20rem;
}

.avatar-highlight { 
  @include border-radius(50%);
}

.btn {
  background: $color-text-light;
  padding: 2rem 1rem;
  width: 30%;
  display: block;
  margin: 5rem auto;
  min-width: 25rem;
  @include font-media($font-factor-text-headline-sub);
}

.btn-highlight {
  color: $color-text-light;
  background-color: $color-highlight-light;
  &:hover { background-color: $color-highlight-dark; }
  font-weight: $font-weight-thin;
}

.btn-icon {
  &:before {
    float: left;
    margin-left: 1rem;
    position: relative;
    top: -1rem;
    @include font-media($font-factor-text-title);
  }
}

.btn-highlight-invert {
  background-color: $color-highlight-dark;
  &:hover { background-color: $color-highlight-light; }
}

.page {
  width: 100%;
  min-height: 100%;
}

.page-highlight {
  background-color: $color-highlight-dark;
}
