.skills {
  height: 70%;
  width: 70%;
  position: relative;
  margin: auto;
  margin-top: 10%;
}

[class^="skill-level-"],
[class*=" skill-level-"] {
  // border-radius: 50%;
  padding: 1.5rem 2rem;
  display: inline-block;
  color: $color-text-light;
  margin: 0.25rem;
}

.skill-level-1 {
  background-color: transparentize($color-highlight-dark, 0.5);
  @include font-media($font-factor-text-small);
}

.skill-level-2 {
  background-color: transparentize($color-highlight-dark, 0.4);
  @include font-media($font-factor-text);
}

.skill-level-3 {
  background-color: transparentize($color-highlight-dark, 0.3);
  @include font-media($font-factor-text-headline-sub);
}

.skill-level-4 {
  background-color: transparentize($color-highlight-dark, 0.2);
  color: transparentize($color-highlight-light, 0.3);
  @include font-media($font-factor-text-headline);
}

.skill-level-5 {
  background-color: transparentize($color-highlight-dark, 0.1);
  color: $color-highlight-light;
  @include font-media($font-factor-text-title);
}