@import "compass/css3";
@import "layout_nav";
@import "layout_portfolio";
@import "layout_avatar";
@import "layout_page";

.align-center { 
  text-align: center; 
}

.quote {
  @include font-media($font-factor-text-headline);
  @include box-sizing(border-box);
  font-weight: $font-weight-thin;
  padding: 3rem 1rem;
  margin: 0;
}

.quote-highlight {
  display: block;
  width: 100%;
  background-color: $color-highlight-dark;
  color: $color-text-light;
}

.quote-fixed {
  position: fixed;
  bottom: 3rem;
}
