.portfolio {
  @extend %grid;
  padding: 0 5%;
}

.portfolio-element {
  @extend %grid-cell;
  vertical-align: middle;
  @include portfolio-element-width();
}

.portfolio-head {
  color: $color-text-light;
}

.portfolio-label-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 10rem;
  background-color: transparent;
  @include transition(background-color 0.5s ease);

  &:before {
    position: absolute;
    top: 110%;
    @include calc(left, "50% - 5rem");
    color: $color-text-light;
    @include transition(top 0.5s ease);
  }
}

.portfolio-img {
  position: absolute;
  top: 0;
  left: 0;
  @include scale(1.25);
}

.portfolio-label {
  overflow: hidden;
  display: block;
  cursor: pointer;
  width: 25rem;
  height: 25rem;
  position: relative;
  margin: 0 auto;
  @include border-radius(50%);
  
  &:hover .portfolio-label-detail {
    background-color: transparentize($color-highlight-dark, 0.25);
    &:before { 
      @include calc(top, "50% - 5rem");
    }
  }

  &[for$="Ultimate Huskies"] .portfolio-img {
    top: 25%;
    left: -265%;
  }

  &[for$="YANTRE"] .portfolio-img {
    top: 15%;
    left: -200%;
  }
}

// portfolio element detail information
.portfolio-info-wrapper {
  overflow: auto;
  position: fixed;
  @include calc(height, "100% - 4rem");
  @include calc(width, "100% - 4rem");
  background: $color-text-dark;
  color: $color-text-light;
  top: 0;
  left: 110%;
  z-index: 25;
  padding: 2rem;
  @include transition(left 0.5s ease);
}

.portfolio-input { 
  display: none; 

  &:checked ~ .portfolio-info-wrapper { left: 0; }
}

.portfolio-info {
  float: right;
  @include portfolio-element-info-size();
}

.portfolio-info-label {
  cursor: pointer;
  display: inline-block;
  
  > *:not(.portfolio-info-close){ 
    @include transition(color 0.5s ease);
    &:hover { color: $color-highlight-light; }
  }
}

.portfolio-info-img {
  @include portfolio-element-info-img-width();
}

.portfolio-info-head { 
  margin-bottom: 2rem; 
}

.portfolio-technics { 
  overflow: hidden; 
  padding: 1rem 0;
  margin-top: 5rem;
}

.portfolio-technic {
  float: left;
  background-color: $color-text-light;
  color: $color-text-dark;
  @include font-media($font-factor-text-headline-sub);
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem; 
  &:last-of-type { margin-right: 0; }
  @include border-radius(2rem);
}

.portfolio-action {
  color: $color-highlight-light;  
}

.portfolio-actions {
  overflow: hidden;  width: 100%;
  @include font-media($font-factor-text-headline);
}

.portfolio-info-close { 
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  color: $color-text-light;
  @include transition(color 0.5s ease);
  @include font-media($font-factor-text-headline);
  &:hover { color: $color-highlight-light; }
}
