.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
}

.nav-button {
  cursor: pointer;
  position: absolute;
  font-size: 5rem;
  bottom: -5rem;
  background-color: $color-text-light;
  @include transition(box-shadow 0.5s ease);
  z-index: 15;
  width: 10rem;
  height: 10rem;
  @include calc(left, "50% - 5rem");
  border-radius: 50%;

  &:hover {
    @include box-shadow(0 0 0.5rem 0.1rem transparentize($color-highlight-dark, 0.5));
  }
  &:before {
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    font-size: 3rem;
  }
}

.nav-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  @include transition(opacity 0.5s ease);
}

.nav-input { 
  display: none; 
  &:checked {
    ~.nav-button {
      @include box-shadow(0 0 0.5rem 0.1rem transparentize($color-highlight-dark, 0.5));
    }

    ~.nav-wrapper { 
      @include scale(1.0); 
      top: -0.5rem;
    }
    ~.nav-overlay { 
      opacity: 1; 
      visibility: visible;
    }
  }
}

.nav-wrapper {
  position: absolute;
  height: 16rem;
  width: 100%;
  z-index: 10;
  top: -7.25rem;
  border-radius: 50%;
  @include scale(0.1);
  @include transition-property(scale, bottom);
  @include transition-duration(0.3s);

  .nav-list-element {
    position: absolute;
    width: 30rem;
    height: 30rem;
    @include transform-origin(100%, 100%);
    overflow: hidden;
    @include calc(left, "50% - 30rem");
    bottom: 100%;

    &:first-child {
      @include transform(rotate(-30deg) skew(60deg));
    }
     
     &:nth-child(2) {
       @include transform(rotate(-60deg) skew(60deg));
    }
     
    &:nth-child(3) {
       @include transform(rotate(-90deg) skew(60deg));
    }

    &:nth-child(even) a {
      background-color: $color-highlight-light;
    }
     
    .nav-list-link {
      background-color: darken($color-highlight-light, 5%);
      &:hover { background-color: $color-highlight-dark; }
      font-size: 3rem;
      height: 30rem;
      width: 30rem;
      position: absolute;
      bottom: -16rem;
      right: -15rem;
      border-radius: 50%;
      text-decoration: none;
      color: $color-text-light;
      padding-top: 1.8rem;
      text-align: center;
      @include transform(skew(-60deg) rotate(-70deg) scale(1));
      @include transition(color 0.5s, background-color 0.5s);

      > span {
        @include scale(-1, -1);
        position: relative;
        display: block;
        left: -1rem;
      }

      &.nav-extern {
        background-color: darken($color-highlight-dark, 2%);
        &:hover { background-color: $color-highlight-light; }
      }
    }
  }
}
