@mixin font-media ($factor: $font-factor-text, $line-height: false) {
  @media (min-width: 320px) and (max-width: 479px) { @include font-calc($font-size-phone, $factor, $line-height); }
  @media (min-width: 480px) and (max-width: 768px) { @include font-calc($font-size-phone-wide, $factor, $line-height); }
  @media (min-width: 769px) and (max-width: 1024px) { @include font-calc($font-size-tablet, $factor, $line-height); }
  @media (min-width: 1025px) and (max-width: 1280px) { @include font-calc($font-size-tablet-wide, $factor, $line-height); }
  @media (min-width: 1281px) and (max-width: 1640px) { @include font-calc($font-size-desktop, $factor, $line-height); }
  @media (min-width: 1641px) and (max-width: 1920px) { @include font-calc($font-size-desktop-wide, $factor, $line-height); }
  @media (min-width: 1921px) { @include font-calc($font-size-desktop-widest, $factor, $line-height); }
}

@mixin font-calc($size, $factor, $line-height, $unit: $font-unit) {
  font-size: round($size*$factor)#{$unit};
  @if $line-height { line-height: round($size*1.6)#{$unit}; }
  @else { line-height: 1em; }
}