// Color
$color-base: rgba(97, 204, 97, 1);
$color-highlight-light: rgba(255, 152, 26, 1);
$color-highlight-dark: rgba(86, 67, 36, 1);

$color-text-dark: rgba(34, 34, 34, 1);
$color-text-light: rgba(253, 247, 248, 1);

// Font
$font-family: "Lato", sans-serif;
$font-weight-thin: 100;
$font-weight-normal: 300;
$font-weight-bold: 400;

$font-unit: px;

// Font Sizes for different screen widths
// $font-size-base: 15;
$font-size-phone: 15;
$font-size-phone-wide: 16;
$font-size-tablet: 19;
$font-size-tablet-wide: 19;
$font-size-desktop: 19;
$font-size-desktop-wide: 21;
$font-size-desktop-widest: 23;

// Font factors for different text places
$font-factor-text-small: 0.8;
$font-factor-text: 1;
$font-factor-text-headline-sub: 1.25;
$font-factor-text-headline: 1.6;
$font-factor-text-title: 2.3;
