@import "base";
@import "layout";
@import "layout_nav";

html {
  overflow: scroll;
}

// body {
//   @include translateY()
// }

body {
  position: relative;
  // @include perspective(1200px);
  // @include transform-style(preserve-3d);

  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    top: -110%;
    @include transition(top 0.5s ease 0.5s);
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // &.page-portfolio { 
    //   bottom: -110%; 
    //   // @include translateY(110%);
    //   z-index: 50;
    //   @include transition(bottom 0.5s ease 0.5s);
    // }
    // &.page-cv {
    //   left: -110%;
    //   z-index: 50;
    //   @include transition(left 0.5s ease 0.5s);
    // }
    // &.page-overview {
    //   top: 0;
    //   z-index: 100;
    //   @include transition(top 0.5s ease 0.5s);
    // }
    // bottom: -110%;
    // @include transition(bottom 0.5s ease);
    // top: 0;
    // left: 0;
    // visibility: hidden;
    // overflow: hidden;

    // @include backface-visibility(hidden);
    // @include translate3d(0, 0, 0);
    // @include transition(transform 0.5s ease, visibility 0.5s ease);

    // &.page-overview { top: 0 }

    // &:not(:target) {
      // &.page-portfolio { 
      //   bottom: -110%; 
      //   @include transition(bottom 0.5s ease);
      // }
      // &.page-cv {
      //   left: -110%;
      //   @include transition(left 0.5s ease);
      // }
      // &.page-overview { 
      //   top: -110%;
      // }
    // }

    &:target, &.page-overview {
      top: 0;
      @include transition(top 0.5s ease);
      // visibility: visible;
      // &.page-portfolio {
      //   bottom: 0;
      //   // @include translateY(0);
      //   z-index: 100;
      //   @include transition(bottom 0.5s ease);
      // }
      // &.page-cv {
      //   left: 0;
      //   z-index: 100;
      //   @include transition(left 0.5s ease);
      // }

      // ~ .page-overview {
      //   top: -110%;
      //   z-index: 50;
      //   @include transition(top 0.5s ease);
      // }
      // &:not(.page-portfolio):not(.page-cv) {
      //   top: -110%;
      //   z-index: 50;
      //   @include transition(top 0.5s ease 0.5s);
      // }
      // @include translateX(-100%);
      
      // @include transition(bottom 0.5s ease);
      // bottom: 0;
      // &.page-overview { top: 0; }
    }

    &:target ~ .page-overview {
      top: 110%;
    }
  }
}

.page-overview {
  // position: relative;

  img {
    margin-top: 5%;
  }
  h1 {
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    width: 55%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 2rem;
    color: $color-text-light;
    min-width: 25rem;
    @include font-media($font-factor-text-title);

    &:before {
      content: '';
      border-bottom: 3rem solid rgba(0, 0, 0, 0.25);
      border-right: 3rem solid transparent;
      border-left: 3rem solid transparent;
      position: absolute;
      top: -3rem;
      margin: 0 auto;
      @include calc(left, "50% - 3rem");
      z-index: -1;
    }
  }

  > div {
    margin-top: 10rem;
  }
}

