<nav class="nav align-center">
  <input class="nav-input" id="nav-button" type="checkbox" />
  <label for="nav-button" class="nav-button icon-open"></label>
  <div class="nav-wrapper">
    <ul>
      <li><a href="#" class="icon-home"></a></li>
      <li><a href="#portfolio" class="icon-portfolio"></a></li>
      <li><a href="{{ site.url }}/curriculum_vitae" class="icon-user"></a></li>
      
      <li><a href="https://github.com/Mupat" class="icon-github nav-extern"></a></li>
      <li><a href="https://www.xing.com/profiles/Patrick_Mueller320" class="icon-xing nav-extern"></a></li>
     </ul>
  </div>
  <div id="nav-overlay" class="nav-overlay"></div>
</nav>
