<nav class="nav align-center">
  <input class="nav-input" id="nav-button" type="checkbox" />
  <label for="nav-button" class="nav-button icon-open"></label>
  <div class="nav-wrapper">
    <ul class="nav-list">
      <li class="nav-list-element" ><a href="/#" class="nav-list-link "><span class="icon-home"></span></a></li>
      <li class="nav-list-element" ><a href="/#portfolio" class="nav-list-link "><span class="icon-portfolio"></span></a></li>
      <li class="nav-list-element" ><a href="/#cv" class="nav-list-link "><span class="icon-user"></span></a></li>
      <li class="nav-list-element" ><a href="mailto:dev@mupat.net" class="nav-list-link nav-extern"><span class="icon-mail"></span></a></li>
      <li class="nav-list-element" ><a href="https://github.com/Mupat" class="nav-list-link nav-extern"><span class="icon-github"></span></a></li>
      <li class="nav-list-element" ><a href="https://www.xing.com/profiles/Patrick_Mueller320" class="nav-list-link nav-extern"><span class="icon-xing"></span></a></li>
     </ul>
  </div>
  <div id="nav-overlay" class="nav-overlay"></div>
</nav>