<ul class="portfolio">
  {% for project in include.portfolio %}
    <li class="portfolio-element">
      <input type="checkbox"  class="portfolio-input" id="portfolio-{{ project.name }}" />
      <h2 class="portfolio-head align-center">{{ project.name }}</h2>
      <label class="portfolio-label align-center" for="portfolio-{{ project.name }}">
        {% assign logo = project.img %}
        {% if project.logo %} {% assign logo = project.logo %} {% endif %}
        <img class="portfolio-logo" src="{{ sites.url }}/assets/images/{{ logo }}" alt="portfolio image for {{ project.name }}"></img>
        <span class="portfolio-label-detail icon-details"></span>
      </label>
      <div class="portfolio-info-wrapper">
        <h1 class="portfolio-info-head align-center">{{ project.name }}</h1>
        <label class="portfolio-info-label portfolio-info-close icon-close" for="portfolio-{{ project.name }}"></label>
        <div class="portfolio-info-img-wrapper">
          <img class="portfolio-info-img" src="{{ sites.url }}/assets/images/{{ project.img }}" alt="portfolio image for {{ project.name }}"></img>
          {% if project.source or project.view %}
            <div class="portfolio-actions align-center">
              {% if project.source %}
                <a class="portfolio-action portfolio-action-source" href="{{ project.source }}" target="_blank">
                  <span>View source</span>
                  <i class="icon-source"></i>
                </a>
              {% endif %}
              {% if project.view %}
                <a class="portfolio-action portfolio-action-view" href="{{ project.view }}" target="_blank">
                  <i class="icon-view"></i>
                  <span>Checkout project</span>
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="portfolio-info">
          {% if project.description %}
            <p class="portfolio-description">{{ project.description }}</p>
          {% endif %}
          {% if project.technics %}
          <ul class="portfolio-technics align-center">
            {% for technic in project.technics %}
              <li class="portfolio-technic">{{ technic }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>


