<ul class="portfolio">
  {% for project in include.portfolio %}
    <li class="portfolio-element">
      <label class="portfolio-label" for="portfolio-{{ project.name }}">
        <h2 class="portfolio-head">{{ project.name }}</h2>
        <img class="portfolio-img" src="{{ sites.url }}/assets/images/{{ project.img }}"></img>
      </label>
      <input type="checkbox"  class="portfolio-input" id="portfolio-{{ project.name }}" />
      <div class="portfolio-info">
        {% if project.description %}
          <p class="portfolio-description">{{ project.description }}</p>
        {% endif %}
        {% if project.technics %}
        <ul class="portfolio-technics">
          {% for technic in project.technics %}
            <li class="portfolio-technic">{{ technic }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if project.source or project.view %}
          <div class="portfolio-actions">
            {% if project.source %}
              <a class="portfolio-action">{{ project.source }}</a>
            {% endif %}
            {% if project.view %}
              <a class="portfolio-action">{{ project.view }}</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>


