@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/lato/Lato-Hairline.woff") format("woff");
}

@font-face {
  font-family: "mupat";
  src: url("../fonts/mupat/mupat.eot");
  src: url("../fonts/mupat/mupat.eot?#iefix") format("embedded-opentype"), url("../fonts/mupat/mupat.ttf") format("truetype"), url("../fonts/mupat/mupat.svg#mupat") format("svg"), url("../fonts/mupat/mupat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 37, ../../sass/_font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mupat";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

/* line 51, ../../sass/_font.scss */
.icon-github:before {
  content: "\e000";
}

/* line 55, ../../sass/_font.scss */
.icon-xing:before {
  content: "\e001";
}

/* line 59, ../../sass/_font.scss */
.icon-external:before {
  content: "\e00a";
}

/* line 63, ../../sass/_font.scss */
.icon-mail:before {
  content: "\e00b";
}

/* line 67, ../../sass/_font.scss */
.icon-cv:before {
  content: "\e012";
}

/* line 71, ../../sass/_font.scss */
.icon-skills:before {
  content: "\e005";
}

/* line 75, ../../sass/_font.scss */
.icon-portfolio:before {
  content: "\e006";
}

/* line 79, ../../sass/_font.scss */
.icon-details:before {
  content: "\e003";
}

/* line 83, ../../sass/_font.scss */
.icon-close:before {
  content: "\e002";
}

/* line 87, ../../sass/_font.scss */
.icon-source:before {
  content: "\e007";
}

/* line 91, ../../sass/_font.scss */
.icon-view:before {
  content: "\e00d";
}

/* line 6, ../../sass/_justifygrid.scss */
.portfolio {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
}
/* line 11, ../../sass/_justifygrid.scss */
.portfolio > * {
  text-align: left;
  font-size: medium;
}
/* line 16, ../../sass/_justifygrid.scss */
.portfolio:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 29, ../../sass/_justifygrid.scss */
.portfolio-element {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}

/* line 9, ../../sass/_base.scss */
html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  vertical-align: baseline;
  height: 100%;
}

/* line 19, ../../sass/_base.scss */
body {
  background-color: #61cc61;
  font-weight: 100;
  color: #222222;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (max-width: 479px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 21px;
    line-height: 34px;
  }
}
@media (min-width: 1921px) {
  /* line 19, ../../sass/_base.scss */
  body {
    font-size: 23px;
    line-height: 37px;
  }
}

/* line 29, ../../sass/_base.scss */
h1 {
  font-weight: 100;
}
@media (max-width: 479px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 34, ../../sass/_base.scss */
h2 {
  font-weight: 100;
}
@media (max-width: 479px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 20px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 34, ../../sass/_base.scss */
  h2 {
    font-size: 29px;
    line-height: 1em;
  }
}

@media (max-width: 479px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 21px;
    line-height: 34px;
  }
}
@media (min-width: 1921px) {
  /* line 39, ../../sass/_base.scss */
  p {
    font-size: 23px;
    line-height: 37px;
  }
}

/* line 43, ../../sass/_base.scss */
a {
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #ff981a;
}
/* line 48, ../../sass/_base.scss */
a:hover {
  color: #fdf7f8;
}

/* line 51, ../../sass/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 56, ../../sass/_base.scss */
li {
  list-style: none;
}

/* line 60, ../../sass/_base.scss */
footer {
  background-color: #000000;
  color: #fdf7f8;
  text-align: center;
  padding: 2rem;
  margin-top: -0.1rem;
  position: relative;
}
/* line 68, ../../sass/_base.scss */
footer .footer-img {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: -12.5rem;
  left: 0;
}

/* line 1, ../../sass/_layout_nav.scss */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
}

/* line 8, ../../sass/_layout_nav.scss */
.nav-button {
  cursor: pointer;
  position: absolute;
  font-size: 5rem;
  bottom: -5rem;
  background-color: #fdf7f8;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  z-index: 15;
  width: 10rem;
  height: 10rem;
  left: -moz-calc(50% - 5rem);
  left: -o-calc(50% - 5rem);
  left: -webkit-calc(50% - 5rem);
  left: calc(50% - 5rem);
  border-radius: 50%;
}
/* line 21, ../../sass/_layout_nav.scss */
.nav-button:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
}
/* line 24, ../../sass/_layout_nav.scss */
.nav-button:before {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  font-size: 3rem;
}

/* line 32, ../../sass/_layout_nav.scss */
.nav-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 45, ../../sass/_layout_nav.scss */
.nav-input {
  display: none;
}
/* line 48, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-button {
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
}
/* line 52, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-wrapper {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  top: -0.5rem;
}
/* line 56, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

/* line 64, ../../sass/_layout_nav.scss */
.nav-wrapper {
  position: absolute;
  height: 16rem;
  width: 100%;
  z-index: 10;
  top: -7.25rem;
  border-radius: 50%;
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition-property: scale, bottom;
  -moz-transition-property: scale, bottom;
  -o-transition-property: scale, bottom;
  transition-property: scale, bottom;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 75, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element {
  position: absolute;
  width: 30rem;
  height: 30rem;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: -moz-calc(50% - 30rem);
  left: -o-calc(50% - 30rem);
  left: -webkit-calc(50% - 30rem);
  left: calc(50% - 30rem);
  bottom: 100%;
}
/* line 84, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:first-child {
  -webkit-transform: rotate(-30deg) skew(60deg);
  -moz-transform: rotate(-30deg) skew(60deg);
  -ms-transform: rotate(-30deg) skew(60deg);
  -o-transform: rotate(-30deg) skew(60deg);
  transform: rotate(-30deg) skew(60deg);
}
/* line 88, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(2) {
  -webkit-transform: rotate(-60deg) skew(60deg);
  -moz-transform: rotate(-60deg) skew(60deg);
  -ms-transform: rotate(-60deg) skew(60deg);
  -o-transform: rotate(-60deg) skew(60deg);
  transform: rotate(-60deg) skew(60deg);
}
/* line 92, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(3) {
  -webkit-transform: rotate(-90deg) skew(60deg);
  -moz-transform: rotate(-90deg) skew(60deg);
  -ms-transform: rotate(-90deg) skew(60deg);
  -o-transform: rotate(-90deg) skew(60deg);
  transform: rotate(-90deg) skew(60deg);
}
/* line 96, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(even) a {
  background-color: #ff981a;
}
/* line 100, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link {
  background-color: #ff8d00;
  font-size: 3rem;
  height: 30rem;
  width: 30rem;
  position: absolute;
  bottom: -16rem;
  right: -15rem;
  border-radius: 50%;
  text-decoration: none;
  color: #fdf7f8;
  padding-top: 1.8rem;
  text-align: center;
  -webkit-transform: skew(-60deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-60deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-60deg) rotate(-70deg) scale(1);
  -o-transform: skew(-60deg) rotate(-70deg) scale(1);
  transform: skew(-60deg) rotate(-70deg) scale(1);
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
/* line 102, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link:hover {
  background-color: #222222;
}
/* line 117, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link > span {
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
  position: relative;
  display: block;
  left: -1rem;
}
/* line 124, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link.nav-extern {
  background-color: #1d1d1d;
}
/* line 126, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link.nav-extern:hover {
  background-color: #ff981a;
}

/* line 1, ../../sass/_layout_portfolio.scss */
.portfolio {
  padding: 0 5%;
}

/* line 6, ../../sass/_layout_portfolio.scss */
.portfolio-element {
  vertical-align: middle;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  /* line 6, ../../sass/_layout_portfolio.scss */
  .portfolio-element {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  /* line 6, ../../sass/_layout_portfolio.scss */
  .portfolio-element {
    width: 46.57534%;
  }
}
@media (min-width: 1280px) {
  /* line 6, ../../sass/_layout_portfolio.scss */
  .portfolio-element {
    width: 28.76712%;
  }
}

/* line 13, ../../sass/_layout_portfolio.scss */
.portfolio-head {
  color: #fdf7f8;
}

/* line 17, ../../sass/_layout_portfolio.scss */
.portfolio-label-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 10rem;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
/* line 27, ../../sass/_layout_portfolio.scss */
.portfolio-label-detail:before {
  position: absolute;
  top: 110%;
  left: -moz-calc(50% - 5rem);
  left: -o-calc(50% - 5rem);
  left: -webkit-calc(50% - 5rem);
  left: calc(50% - 5rem);
  color: #fdf7f8;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

/* line 36, ../../sass/_layout_portfolio.scss */
.portfolio-label {
  overflow: hidden;
  display: block;
  cursor: pointer;
  width: 25rem;
  height: 25rem;
  position: relative;
  margin: 0 auto;
  background-color: #fdf7f8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 47, ../../sass/_layout_portfolio.scss */
.portfolio-label:hover .portfolio-label-detail {
  background-color: rgba(34, 34, 34, 0.75);
}
/* line 49, ../../sass/_layout_portfolio.scss */
.portfolio-label:hover .portfolio-label-detail:before {
  top: -moz-calc(50% - 5rem);
  top: -o-calc(50% - 5rem);
  top: -webkit-calc(50% - 5rem);
  top: calc(50% - 5rem);
}
/* line 54, ../../sass/_layout_portfolio.scss */
.portfolio-label[for$="Ultimate Huskies"] .portfolio-img {
  top: 25%;
  left: -265%;
}
/* line 59, ../../sass/_layout_portfolio.scss */
.portfolio-label[for$="YANTRE"] .portfolio-img {
  top: 15%;
  left: -200%;
}

/* line 66, ../../sass/_layout_portfolio.scss */
.portfolio-info-wrapper {
  overflow: auto;
  position: fixed;
  height: -moz-calc(100% - 4rem);
  height: -o-calc(100% - 4rem);
  height: -webkit-calc(100% - 4rem);
  height: calc(100% - 4rem);
  width: -moz-calc(100% - 4rem);
  width: -o-calc(100% - 4rem);
  width: -webkit-calc(100% - 4rem);
  width: calc(100% - 4rem);
  background: #222222;
  color: #fdf7f8;
  top: 0;
  left: 110%;
  z-index: 25;
  padding: 2rem;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

/* line 80, ../../sass/_layout_portfolio.scss */
.portfolio-input {
  display: none;
}
/* line 83, ../../sass/_layout_portfolio.scss */
.portfolio-input:checked ~ .portfolio-info-wrapper {
  left: 0;
}

/* line 86, ../../sass/_layout_portfolio.scss */
.portfolio-info-img-wrapper {
  display: inline-block;
}
@media (max-width: 1279px) {
  /* line 86, ../../sass/_layout_portfolio.scss */
  .portfolio-info-img-wrapper {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  /* line 86, ../../sass/_layout_portfolio.scss */
  .portfolio-info-img-wrapper {
    width: 47%;
  }
}

/* line 91, ../../sass/_layout_portfolio.scss */
.portfolio-info {
  float: right;
}
@media (max-width: 1279px) {
  /* line 91, ../../sass/_layout_portfolio.scss */
  .portfolio-info {
    height: auto;
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  /* line 91, ../../sass/_layout_portfolio.scss */
  .portfolio-info {
    height: -moz-calc(100% - 15rem);
    height: -o-calc(100% - 15rem);
    height: -webkit-calc(100% - 15rem);
    height: calc(100% - 15rem);
    width: 50%;
  }
}

/* line 96, ../../sass/_layout_portfolio.scss */
.portfolio-info-label {
  cursor: pointer;
  display: inline-block;
}
/* line 100, ../../sass/_layout_portfolio.scss */
.portfolio-info-label > *:not(.portfolio-info-close) {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* line 102, ../../sass/_layout_portfolio.scss */
.portfolio-info-label > *:not(.portfolio-info-close):hover {
  color: #ff981a;
}

/* line 106, ../../sass/_layout_portfolio.scss */
.portfolio-info-img {
  width: 100%;
}

/* line 110, ../../sass/_layout_portfolio.scss */
.portfolio-info-head {
  margin-bottom: 2rem;
}
@media (max-width: 479px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 35px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 37px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 48px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 110, ../../sass/_layout_portfolio.scss */
  .portfolio-info-head {
    font-size: 53px;
    line-height: 1em;
  }
}

/* line 115, ../../sass/_layout_portfolio.scss */
.portfolio-technics {
  overflow: hidden;
  padding: 1rem 0;
  margin-top: 5rem;
}

/* line 121, ../../sass/_layout_portfolio.scss */
.portfolio-technic {
  display: inline-block;
  background-color: #fdf7f8;
  color: #222222;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 479px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 20px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 121, ../../sass/_layout_portfolio.scss */
  .portfolio-technic {
    font-size: 29px;
    line-height: 1em;
  }
}
/* line 129, ../../sass/_layout_portfolio.scss */
.portfolio-technic:last-of-type {
  margin-right: 0;
}

/* line 132, ../../sass/_layout_portfolio.scss */
.portfolio-actions {
  width: 100%;
  margin-top: 2rem;
}

/* line 137, ../../sass/_layout_portfolio.scss */
.portfolio-action {
  position: relative;
}
@media (max-width: 479px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 35px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 37px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 48px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 137, ../../sass/_layout_portfolio.scss */
  .portfolio-action {
    font-size: 53px;
    line-height: 1em;
  }
}
/* line 141, ../../sass/_layout_portfolio.scss */
.portfolio-action span {
  color: #fdf7f8;
  position: absolute;
  top: -0.5rem;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
  -o-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
@media (max-width: 479px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 141, ../../sass/_layout_portfolio.scss */
  .portfolio-action span {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 150, ../../sass/_layout_portfolio.scss */
.portfolio-action-source {
  margin-right: 3rem;
}
/* line 152, ../../sass/_layout_portfolio.scss */
.portfolio-action-source span {
  right: 7rem;
}

/* line 158, ../../sass/_layout_portfolio.scss */
.portfolio-action-view span {
  left: 7rem;
}

/* line 163, ../../sass/_layout_portfolio.scss */
.portfolio-info-close {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fdf7f8;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
@media (max-width: 479px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 163, ../../sass/_layout_portfolio.scss */
  .portfolio-info-close {
    font-size: 37px;
    line-height: 1em;
  }
}
/* line 172, ../../sass/_layout_portfolio.scss */
.portfolio-info-close:hover {
  color: #ff981a;
}

/* line 1, ../../sass/_layout_avatar.scss */
.avatar-wrapper {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -ms-perspective: 500;
  -o-perspective: 500;
  perspective: 500;
}
/* line 9, ../../sass/_layout_avatar.scss */
.avatar-wrapper:hover .avatar-front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  visibility: hidden;
}
/* line 13, ../../sass/_layout_avatar.scss */
.avatar-wrapper:hover .avatar-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  visibility: visible;
}

/* line 20, ../../sass/_layout_avatar.scss */
.avatar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s ease, visibility 0s ease;
  -webkit-transition-delay: 0s, 0.3s;
  -moz-transition: -moz-transform 1s ease, visibility 0s ease 0.3s;
  -o-transition: -o-transform 1s ease, visibility 0s ease 0.3s;
  transition: transform 1s ease, visibility 0s ease 0.3s;
}

/* line 29, ../../sass/_layout_avatar.scss */
.avatar-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  visibility: visible;
}

/* line 34, ../../sass/_layout_avatar.scss */
.avatar-back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  visibility: hidden;
}

/* line 39, ../../sass/_layout_avatar.scss */
.avatar-highlight {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../../sass/_layout_page.scss */
.page {
  background-color: #61cc61;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: -moz-calc(100% - 7.5rem);
  min-height: -o-calc(100% - 7.5rem);
  min-height: -webkit-calc(100% - 7.5rem);
  min-height: calc(100% - 7.5rem);
}

/* line 9, ../../sass/_layout_page.scss */
.page-highlight {
  background-color: #222222;
}

/* line 13, ../../sass/_layout_page.scss */
.page-next {
  background-color: #61cc61;
  position: relative;
  display: block;
  text-align: center;
  height: 7.5rem;
  width: 100%;
  margin-top: -0.1rem;
}
/* line 22, ../../sass/_layout_page.scss */
.page-next:before {
  color: #fdf7f8;
  position: absolute;
  z-index: 10;
  font-size: 4rem;
  top: 2.5rem;
  left: -moz-calc(50% - 2.5rem);
  left: -o-calc(50% - 2.5rem);
  left: -webkit-calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
}
/* line 31, ../../sass/_layout_page.scss */
.page-next:after {
  content: '';
  position: absolute;
  border-bottom: 7.5rem solid #61cc61;
  border-right: 7.5rem solid transparent;
  border-left: 7.5rem solid transparent;
  top: 0.1rem;
  left: -moz-calc(50% - 7.5rem);
  left: -o-calc(50% - 7.5rem);
  left: -webkit-calc(50% - 7.5rem);
  left: calc(50% - 7.5rem);
  z-index: 5;
}

/* line 43, ../../sass/_layout_page.scss */
.page:not(.page-highlight) + .page-next:after {
  border-bottom-color: #222222;
}

/* line 44, ../../sass/_layout_page.scss */
.page-highlight + .page-next {
  background-color: #222222;
}

/* line 46, ../../sass/_layout_page.scss */
.page-header {
  margin-top: 0;
  color: #fdf7f8;
  padding-top: 1rem;
}

/* line 1, ../../sass/_layout_skills.scss */
.skills {
  height: 70%;
  width: 70%;
  position: relative;
  margin: auto;
  margin-top: 10%;
}

/* line 10, ../../sass/_layout_skills.scss */
[class^="skill-level-"],
[class*=" skill-level-"] {
  padding: 1.5rem 2rem;
  display: inline-block;
  color: #fdf7f8;
  margin: 0.25rem;
}

/* line 18, ../../sass/_layout_skills.scss */
.skill-level-1 {
  background-color: rgba(34, 34, 34, 0.5);
}
@media (max-width: 479px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 12px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 13px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 15px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 15px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 15px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 17px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 18, ../../sass/_layout_skills.scss */
  .skill-level-1 {
    font-size: 18px;
    line-height: 1em;
  }
}

/* line 23, ../../sass/_layout_skills.scss */
.skill-level-2 {
  background-color: rgba(34, 34, 34, 0.6);
}
@media (max-width: 479px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 15px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 16px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 23, ../../sass/_layout_skills.scss */
  .skill-level-2 {
    font-size: 23px;
    line-height: 1em;
  }
}

/* line 28, ../../sass/_layout_skills.scss */
.skill-level-3 {
  background-color: rgba(34, 34, 34, 0.7);
}
@media (max-width: 479px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 20px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 28, ../../sass/_layout_skills.scss */
  .skill-level-3 {
    font-size: 29px;
    line-height: 1em;
  }
}

/* line 33, ../../sass/_layout_skills.scss */
.skill-level-4 {
  background-color: rgba(34, 34, 34, 0.8);
  color: rgba(255, 152, 26, 0.7);
}
@media (max-width: 479px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 33, ../../sass/_layout_skills.scss */
  .skill-level-4 {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 39, ../../sass/_layout_skills.scss */
.skill-level-5 {
  background-color: rgba(34, 34, 34, 0.9);
  color: #ff981a;
}
@media (max-width: 479px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 35px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 37px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 48px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 39, ../../sass/_layout_skills.scss */
  .skill-level-5 {
    font-size: 53px;
    line-height: 1em;
  }
}

/* line 8, ../../sass/_layout.scss */
.align-center {
  text-align: center;
}

/* line 12, ../../sass/_layout.scss */
.quote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 100;
  padding: 3rem 1rem;
  margin: 0;
}
@media (max-width: 479px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 12, ../../sass/_layout.scss */
  .quote {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 20, ../../sass/_layout.scss */
.quote-highlight {
  display: block;
  width: 100%;
  background-color: #222222;
  color: #fdf7f8;
}

/* line 27, ../../sass/_layout.scss */
.quote-fixed {
  position: fixed;
  bottom: 3rem;
}

/* line 1, ../../sass/_layout_nav.scss */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
}

/* line 8, ../../sass/_layout_nav.scss */
.nav-button {
  cursor: pointer;
  position: absolute;
  font-size: 5rem;
  bottom: -5rem;
  background-color: #fdf7f8;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  z-index: 15;
  width: 10rem;
  height: 10rem;
  left: -moz-calc(50% - 5rem);
  left: -o-calc(50% - 5rem);
  left: -webkit-calc(50% - 5rem);
  left: calc(50% - 5rem);
  border-radius: 50%;
}
/* line 21, ../../sass/_layout_nav.scss */
.nav-button:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
}
/* line 24, ../../sass/_layout_nav.scss */
.nav-button:before {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  font-size: 3rem;
}

/* line 32, ../../sass/_layout_nav.scss */
.nav-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 45, ../../sass/_layout_nav.scss */
.nav-input {
  display: none;
}
/* line 48, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-button {
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
}
/* line 52, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-wrapper {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  top: -0.5rem;
}
/* line 56, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

/* line 64, ../../sass/_layout_nav.scss */
.nav-wrapper {
  position: absolute;
  height: 16rem;
  width: 100%;
  z-index: 10;
  top: -7.25rem;
  border-radius: 50%;
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition-property: scale, bottom;
  -moz-transition-property: scale, bottom;
  -o-transition-property: scale, bottom;
  transition-property: scale, bottom;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 75, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element {
  position: absolute;
  width: 30rem;
  height: 30rem;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: -moz-calc(50% - 30rem);
  left: -o-calc(50% - 30rem);
  left: -webkit-calc(50% - 30rem);
  left: calc(50% - 30rem);
  bottom: 100%;
}
/* line 84, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:first-child {
  -webkit-transform: rotate(-30deg) skew(60deg);
  -moz-transform: rotate(-30deg) skew(60deg);
  -ms-transform: rotate(-30deg) skew(60deg);
  -o-transform: rotate(-30deg) skew(60deg);
  transform: rotate(-30deg) skew(60deg);
}
/* line 88, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(2) {
  -webkit-transform: rotate(-60deg) skew(60deg);
  -moz-transform: rotate(-60deg) skew(60deg);
  -ms-transform: rotate(-60deg) skew(60deg);
  -o-transform: rotate(-60deg) skew(60deg);
  transform: rotate(-60deg) skew(60deg);
}
/* line 92, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(3) {
  -webkit-transform: rotate(-90deg) skew(60deg);
  -moz-transform: rotate(-90deg) skew(60deg);
  -ms-transform: rotate(-90deg) skew(60deg);
  -o-transform: rotate(-90deg) skew(60deg);
  transform: rotate(-90deg) skew(60deg);
}
/* line 96, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(even) a {
  background-color: #ff981a;
}
/* line 100, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link {
  background-color: #ff8d00;
  font-size: 3rem;
  height: 30rem;
  width: 30rem;
  position: absolute;
  bottom: -16rem;
  right: -15rem;
  border-radius: 50%;
  text-decoration: none;
  color: #fdf7f8;
  padding-top: 1.8rem;
  text-align: center;
  -webkit-transform: skew(-60deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-60deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-60deg) rotate(-70deg) scale(1);
  -o-transform: skew(-60deg) rotate(-70deg) scale(1);
  transform: skew(-60deg) rotate(-70deg) scale(1);
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
/* line 102, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link:hover {
  background-color: #222222;
}
/* line 117, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link > span {
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
  position: relative;
  display: block;
  left: -1rem;
}
/* line 124, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link.nav-extern {
  background-color: #1d1d1d;
}
/* line 126, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link.nav-extern:hover {
  background-color: #ff981a;
}
