@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/lato/Lato-Hairline.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato/Lato-Light.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "mupat";
  src: url("../fonts/mupat/mupat.eot");
  src: url("../fonts/mupat/mupat.eot?#iefix") format("embedded-opentype"), url("../fonts/mupat/mupat.ttf") format("truetype"), url("../fonts/mupat/mupat.svg#mupat") format("svg"), url("../fonts/mupat/mupat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 37, ../../sass/_font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mupat";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

/* line 52, ../../sass/_font.scss */
.icon-github:before {
  content: "\e000";
}

/* line 56, ../../sass/_font.scss */
.icon-xing:before {
  content: "\e001";
}

/* line 60, ../../sass/_font.scss */
.icon-home:before {
  content: "\e003";
}

/* line 64, ../../sass/_font.scss */
.icon-user:before {
  content: "\e004";
}

/* line 68, ../../sass/_font.scss */
.icon-portfolio:before {
  content: "\e005";
}

/* line 72, ../../sass/_font.scss */
.icon-close:before {
  content: "\e00e";
}

/* line 76, ../../sass/_font.scss */
.icon-open:before {
  content: "\e00f";
}

/* line 80, ../../sass/_font.scss */
.icon-cv-highlight:before {
  content: "\e00a";
}

/* line 84, ../../sass/_font.scss */
.icon-mail:before {
  content: "\e00b";
}

/* line 88, ../../sass/_font.scss */
.icon-portfolio-highlight:before {
  content: "\e012";
}

/* line 8, ../../sass/_base.scss */
html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  vertical-align: baseline;
  height: 100%;
}

/* line 18, ../../sass/_base.scss */
body {
  background-color: #61cc61;
  font-weight: 300;
  color: #222222;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 21px;
    line-height: 34px;
  }
}
@media (min-width: 1921px) {
  /* line 18, ../../sass/_base.scss */
  body {
    font-size: 23px;
    line-height: 37px;
  }
}

/* line 28, ../../sass/_base.scss */
h1 {
  font-weight: 100;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 28, ../../sass/_base.scss */
  h1 {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 33, ../../sass/_base.scss */
h2 {
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 20px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 33, ../../sass/_base.scss */
  h2 {
    font-size: 29px;
    line-height: 1em;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 15px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 16px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 19px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 21px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 38, ../../sass/_base.scss */
  p {
    font-size: 23px;
    line-height: 1em;
  }
}

/* line 42, ../../sass/_base.scss */
a {
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #222222;
}
/* line 47, ../../sass/_base.scss */
a:hover {
  color: #fdf7f8;
}

/* line 50, ../../sass/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 55, ../../sass/_base.scss */
li {
  list-style: none;
}

/* line 1, ../../sass/_layout_nav.scss */
.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 500;
}

/* line 8, ../../sass/_layout_nav.scss */
.nav-button {
  cursor: pointer;
  position: absolute;
  font-size: 5rem;
  bottom: -5rem;
  background-color: #fdf7f8;
  z-index: 15;
  width: 10rem;
  height: 10rem;
  left: -moz-calc(50% - 5rem);
  left: -o-calc(50% - 5rem);
  left: -webkit-calc(50% - 5rem);
  left: calc(50% - 5rem);
  border-radius: 50%;
}
/* line 20, ../../sass/_layout_nav.scss */
.nav-button:before {
  position: absolute;
  top: 1rem;
  left: 3.5rem;
  font-size: 3rem;
}

/* line 28, ../../sass/_layout_nav.scss */
.nav-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* line 41, ../../sass/_layout_nav.scss */
.nav-input {
  display: none;
}
/* line 44, ../../sass/_layout_nav.scss */
.nav-input:checked + .nav-button:before {
  content: '\e00e';
}
/* line 45, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-wrapper {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  bottom: -0.5rem;
}
/* line 49, ../../sass/_layout_nav.scss */
.nav-input:checked ~ .nav-overlay {
  opacity: 1;
  visibility: visible;
}

/* line 56, ../../sass/_layout_nav.scss */
.nav-wrapper {
  position: absolute;
  height: 16rem;
  width: 100%;
  z-index: 10;
  bottom: -7.25rem;
  border-radius: 50%;
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition-property: scale, bottom;
  -moz-transition-property: scale, bottom;
  -o-transition-property: scale, bottom;
  transition-property: scale, bottom;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 67, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element {
  position: absolute;
  width: 30rem;
  height: 30rem;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: -moz-calc(50% - 30rem);
  left: -o-calc(50% - 30rem);
  left: -webkit-calc(50% - 30rem);
  left: calc(50% - 30rem);
  bottom: 0;
}
/* line 76, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:first-child {
  -webkit-transform: rotate(0deg) skew(60deg);
  -moz-transform: rotate(0deg) skew(60deg);
  -ms-transform: rotate(0deg) skew(60deg);
  -o-transform: rotate(0deg) skew(60deg);
  transform: rotate(0deg) skew(60deg);
}
/* line 80, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(60deg);
  -moz-transform: rotate(30deg) skew(60deg);
  -ms-transform: rotate(30deg) skew(60deg);
  -o-transform: rotate(30deg) skew(60deg);
  transform: rotate(30deg) skew(60deg);
}
/* line 84, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(3) {
  -webkit-transform: rotate(60deg) skew(60deg);
  -moz-transform: rotate(60deg) skew(60deg);
  -ms-transform: rotate(60deg) skew(60deg);
  -o-transform: rotate(60deg) skew(60deg);
  transform: rotate(60deg) skew(60deg);
}
/* line 88, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(4) {
  -webkit-transform: rotate(90deg) skew(60deg);
  -moz-transform: rotate(90deg) skew(60deg);
  -ms-transform: rotate(90deg) skew(60deg);
  -o-transform: rotate(90deg) skew(60deg);
  transform: rotate(90deg) skew(60deg);
}
/* line 92, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(5) {
  -webkit-transform: rotate(120deg) skew(60deg);
  -moz-transform: rotate(120deg) skew(60deg);
  -ms-transform: rotate(120deg) skew(60deg);
  -o-transform: rotate(120deg) skew(60deg);
  transform: rotate(120deg) skew(60deg);
}
/* line 95, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(6) {
  -webkit-transform: rotate(150deg) skew(60deg);
  -moz-transform: rotate(150deg) skew(60deg);
  -ms-transform: rotate(150deg) skew(60deg);
  -o-transform: rotate(150deg) skew(60deg);
  transform: rotate(150deg) skew(60deg);
}
/* line 99, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(even) a {
  background-color: #ff981a;
}
/* line 101, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element:nth-child(even) a.nav-extern {
  background-color: #564324;
}
/* line 104, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link {
  background-color: #ff8d00;
  font-size: 3rem;
  height: 30rem;
  width: 30rem;
  position: absolute;
  bottom: -16rem;
  right: -15rem;
  border-radius: 50%;
  text-decoration: none;
  color: #fdf7f8;
  padding-top: 1.8rem;
  text-align: center;
  -webkit-transform: skew(-60deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-60deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-60deg) rotate(-70deg) scale(1);
  -o-transform: skew(-60deg) rotate(-70deg) scale(1);
  transform: skew(-60deg) rotate(-70deg) scale(1);
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
/* line 106, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link:hover {
  background-color: #564324;
}
/* line 121, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link > span {
  position: relative;
  left: -1rem;
}
/* line 126, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link.nav-extern {
  background-color: #4f3d21;
}
/* line 128, ../../sass/_layout_nav.scss */
.nav-wrapper .nav-list-element .nav-list-link.nav-extern:hover {
  background-color: #ff981a;
}

/* line 4, ../../sass/_layout.scss */
.align-center {
  text-align: center;
}

/* line 8, ../../sass/_layout.scss */
.quote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 100;
  padding: 3rem 1rem;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 24px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 26px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 30px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 34px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 8, ../../sass/_layout.scss */
  .quote {
    font-size: 37px;
    line-height: 1em;
  }
}

/* line 16, ../../sass/_layout.scss */
.quote-highlight {
  display: block;
  width: 100%;
  background-color: #564324;
  color: #fdf7f8;
}

/* line 23, ../../sass/_layout.scss */
.quote-fixed {
  position: fixed;
  bottom: 3rem;
}

/* line 28, ../../sass/_layout.scss */
.avatar {
  width: 20rem;
  height: 20rem;
}

/* line 33, ../../sass/_layout.scss */
.avatar-highlight {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 37, ../../sass/_layout.scss */
.page {
  background-color: #61cc61;
  width: 100%;
  position: relative;
  min-height: -moz-calc(100% - 7.5rem);
  min-height: -o-calc(100% - 7.5rem);
  min-height: -webkit-calc(100% - 7.5rem);
  min-height: calc(100% - 7.5rem);
}

/* line 44, ../../sass/_layout.scss */
.page-highlight {
  background-color: #564324;
}

/* line 48, ../../sass/_layout.scss */
.page-next {
  background-color: #61cc61;
  position: relative;
  display: block;
  text-align: center;
  height: 7.5rem;
  width: 100%;
  margin-top: -0.1rem;
}
/* line 57, ../../sass/_layout.scss */
.page-next:before {
  color: #fdf7f8;
  position: absolute;
  z-index: 10;
  font-size: 4rem;
  top: 2.5rem;
  left: -moz-calc(50% - 2.5rem);
  left: -o-calc(50% - 2.5rem);
  left: -webkit-calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
}
/* line 66, ../../sass/_layout.scss */
.page-next:after {
  content: '';
  position: absolute;
  border-bottom: 7.5rem solid #61cc61;
  border-right: 7.5rem solid transparent;
  border-left: 7.5rem solid transparent;
  top: 0.1rem;
  left: -moz-calc(50% - 7.5rem);
  left: -o-calc(50% - 7.5rem);
  left: -webkit-calc(50% - 7.5rem);
  left: calc(50% - 7.5rem);
  z-index: 5;
}

/* line 78, ../../sass/_layout.scss */
.page:not(.page-highlight) + .page-next:after {
  border-bottom-color: #564324;
}

/* line 79, ../../sass/_layout.scss */
.page-highlight + .page-next {
  background-color: #564324;
}

/* line 81, ../../sass/_layout.scss */
.page-header {
  margin-top: 0;
  color: #fdf7f8;
}

/* line 5, ../../sass/main.scss */
#overview img {
  margin-top: 4.5%;
  position: relative;
  z-index: 10;
}
/* line 11, ../../sass/main.scss */
#overview h1 {
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  width: 55%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
  color: #fdf7f8;
  min-width: 25rem;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 35px;
    line-height: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 37px;
    line-height: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1281px) and (max-width: 1640px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 44px;
    line-height: 1em;
  }
}
@media (min-width: 1641px) and (max-width: 1920px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 48px;
    line-height: 1em;
  }
}
@media (min-width: 1921px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    font-size: 53px;
    line-height: 1em;
  }
}
@media (max-width: 768px) {
  /* line 11, ../../sass/main.scss */
  #overview h1 {
    margin-bottom: 1rem;
  }
}
/* line 24, ../../sass/main.scss */
#overview h1:before {
  content: '';
  border-bottom: 3rem solid rgba(0, 0, 0, 0.25);
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
  position: absolute;
  top: -3rem;
  left: -moz-calc(50% - 3rem);
  left: -o-calc(50% - 3rem);
  left: -webkit-calc(50% - 3rem);
  left: calc(50% - 3rem);
}
