<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1">
  <meta name="author" content="Patrick Müller" />

  <title>Mupat {% if page.title %} - {{ page.title }} {% endif %}</title>

  <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" type="image/x-icon" />

  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/apple-touch-152.png">
  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/apple-touch-144.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/apple-touch-120.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/apple-touch-114.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/apple-touch-72.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/apple-touch-57.png">

  <link rel="stylesheet" href="{{ site.url }}/assets/css/{{ page.css }}.css" type="text/css" media="screen, projection" />
</head>
<body>
  {% include nav.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>